{{ $data := index site.Data site.Language.Lang }} {{ if $data.about.about.enable
}} {{ with $data.about.about }} {{"<!-- Start About Section -->" | safeHTML}}
<section class="bg-one about section" id="about">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        {{"<!-- section title -->" | safeHTML}}
        <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
          <h2>
            {{ with .title }} {{ index (split . " ") 0 | safeHTML }} {{ end
            }}<span class="color">
              {{ with .title }} {{ index (split . " ") 1 | safeHTML }} {{ end }}
            </span>
          </h2>
          <div class="border-meghna"></div>
        </div>
      </div>
      {{"<!-- /section title -->" | safeHTML}}
      <p style="font-size: large; text-align: justify">
        Resolve Restoration gets it resolved. We focus on assisting you at every
        level, from the emergency response to the mitigating and aftermath
        repair processes. We pride ourselves on responding to our clients the
        way we would if these were our very own homes. We provide services for
        both strata and commercial properties in the Lower Mainland. During
        emergency situations, time is of the essence, and we focus on mitigating
        damages as quickly as possible. Counting with our team means you do not
        need to worry about every aspect of the emergency process. Our team is
        well-versed in the processes during and in the aftermath of a loss.
        Working with industry professionals to accommodate your needs will
        ensure your experience is as smooth and straightforward as it can ever
        be.<br />
      </p>
      {{ range .about_item }} {{"<!-- About item -->" | safeHTML}}
      <div class="col-lg-4 text-center wow fadeInUp" data-wow-duration="500ms">
        <div class="block">
          <div class="icon-box">
            {{with .icon}}<i class="{{ . }}"></i>{{ end }}
          </div>
          {{"<!-- Express About Yourself -->" | safeHTML}}
          <div class="content text-center">
            <h3>{{ .title }}</h3>
            <p>{{ .content | markdownify }}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{"<!-- /about -->" | safeHTML}} {{ end }} {{ end }}
